* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark-blue: #03045E;
    --maroon: #800000;
    --dark-brown: #474306;
    --yellow: #F5EE84;
    --light-yellow: #FBF8CC;
    --too-light-yellow: #F7F197;
}

body {
    font-family: Poppins;
    background-color: var(--light-yellow);
}

.section {
    max-width: 100%;
}

.container {
    max-width: 85rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem 3rem;
        gap: 3.4rem;
    }   
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
        gap: 3.4rem;
    }   
}

.header__nav {
    position: fixed;
    width: 100%;
    background-color: var(--light-yellow);
    box-shadow: 0 1px 15px 0 var(--maroon);
    z-index: 2;
}

.header__container{
    max-width: 85rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header__nav-item {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    color: var(--maroon);
}

.header__nav-item-name a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration-line: none;
    color: var(--maroon);
}

.header__nav-item-name a:hover{
    color: var(--yellow);
}

.header__nav-text a{
    text-decoration-line: none;
    color: var(--maroon);
    font-weight: 500;
}

.header__nav-text a:hover {
    color: var(--yellow);
}

.header__socials{
    display: flex;
    gap: 2rem;
}

.link__svg{
    color: var(--maroon);
}

.link__svg:hover{
    color: var(--yellow);
}

@media (max-width: 767px) {
    .header__container{
        padding: 1rem 3rem;
    }

    .header__nav-menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .header__nav-item {
        gap: 1.5rem;
    }

    .header__nav-item-name a{
        font-size: 1.2rem;
    }

    .header__nav-text a{
        font-size: 0.9rem;
    }

    .header__socials{
        gap: 1rem;
    }

    .link__svg{
        width: 1.2rem;
    }
}

@media (max-width: 480px) {
    .header__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0.5rem 1.5rem;
    }

    .header__nav-menu{
        max-width: 25rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0;
        flex-wrap: wrap;
    }

    .header__nav-item {
        gap: 1.5rem;
    }

    .header__nav-item-name a{
        font-size: 1.2rem;
    }

    .header__nav-text a{
        font-size: 0.9rem;
    }

    .header__socials{
        gap: 1rem;
    }

    .link__svg{
        width: 1.2rem;
    }
}

.hero__container-home {
    max-width: 85rem;
    width: 100%;
    margin: 0 auto;
    padding: 6rem 6rem;
    display: flex;
    justify-content: space-between;
}

.container-home__about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-me__title{
    max-width: 24rem;
    width: 100%;
    color: var(--maroon);
}

.abaut-me__info__span {
    text-transform: capitalize;
    font-size: 4.4rem;
    font-weight: bold;
    color: var(--yellow);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.about-me__button {
    max-width: 7rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border-radius: 5px;
    border-color: var(--dark-brown);
    color: var(--dark-brown);
    cursor: pointer;
    background-color: var(--yellow);
    box-shadow: 4px 4px 0px 2px var(--light-yellow) inset,
                10px 10px 0px 2px var(--yellow);
    transition: box-shadow 0.5s ease;
}

.about-me__button:hover {
    background-color: var(--yellow);
    box-shadow: none;
    transition: box-shadow 0.5s ease;
}

@media (max-width: 767px) {
    .hero__container-home {
        padding: 5.5rem 3rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }
    
    .container-home__about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .abaut-me__info__span {
        font-size: 3.4rem;
    }
}

@media (max-width: 480px) {
    .hero__container-home {
        padding: 5.5rem 1.5rem 1.5rem;
        gap: 1.5rem;
    }
    
    .container-home__about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .about-me__title{
        max-width: 13rem;
        font-size: 1rem;
    }

    .abaut-me__info__span {
        font-size: 2.4rem;
    }
}

.container-home__items-photo {
    max-width: 30rem;
    width: 100%;
    display: flex;
    position: relative;
}

@media (max-width: 1080px) {
    .container-home__items-photo {
        max-width: 20rem;
        width: 100%;
        height: 20rem;
    }
}

@media (max-width: 920px) {
    .container-home__items-photo {
        max-width: 12rem;
        width: 100%;
        height: 12rem;
    }
}

.items-photo__img-border {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.items-photo__img-photo {
    max-width: 30rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 18rem 10rem 17rem 16rem;
    position: absolute;
    z-index: 0;
}

.items-photo__img-symbols {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    pointer-events: none;
}

.symbols__plus{
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 3rem;
    width: 10%;
    animation: jump 2s ease-in-out infinite;
}

.symbols__slashes{
    position: absolute;
    bottom: 5%;
    left: 5%;
    max-width: 7rem;
    width: 25%;
    animation: jump 2.5s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-2rem);
    }
    60% {
        transform: translateY(-1.2rem);
    }
    100% {
        transform: translateY(0);
    }
}

.modal {
    position: fixed;
    background: rgb(0, 0, 0, 0.663);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal--hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.modal__content {
    max-width: 30rem;
    width: 100%;
    padding: 1.5rem;
    background: var(--light-yellow);
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__buttom-close {
    width: 2rem;
    border: none;
    border-radius: 2rem;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    cursor: pointer;
}

.buttom-close__svg{
    background-color: var(--light-yellow);
    color: var(--maroon);
    border-radius: 2rem;
}

.buttom-close__svg:hover{
    color: var(--dark-brown);
}

.modal-area__title {
    font-family: Poppins;
    text-align: center;
    font-size: 24px;
    line-height: 44px;
    color: var(--maroon);
    padding-top: 1rem;
}

.modal__buttoms{
    display: flex;
    justify-content: space-around;
}

.modal__buttom-download {
    max-width: 10.5rem;
    width: 100%;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: var(--dark-brown);
    background-color: var(--yellow);
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__buttom-download:hover {
    background-color: var(--dark-brown);
    color: var(--too-light-yellow);
    box-shadow: none;
}

@media (max-width: 767px) {
    .modal__content {
        max-width: 20rem;
    }

    .modal-area__title {
        font-size: 1rem;
        line-height: 2rem;
    }

    .modal__buttom-download {
        max-width: 8rem;
        width: 100%;
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .modal__content {
        max-width: 15rem;
    }

    .modal__buttom-close{
        width: 1.5rem;
    }

    .modal-area__title {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .modal__buttom-download {
        max-width: 5rem;
        width: 100%;
        font-size: 0.6rem;
        padding: 0.2rem 0.8rem;
    }
}

.about-me__info-work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-title {
    font-weight: 800;
    font-size: 100px;
    line-height: 116px;
    color: var(--yellow);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-paragraph {
    max-width: 100%;
    width: 55rem;
    font-size: 24px;
    line-height: 44px;
    color: var(--maroon);
}

@media (max-width: 767px) {
    .section-title {
        font-size: 5rem;
    }

    .section-paragraph {
        font-size: 1.5rem;
        line-height: 2rem;
    }    
}

@media (max-width: 480px) {
    .section-title {
        font-size: 3.5rem;
    }

    .section-paragraph {
        font-size: 1rem;
        line-height: 1.5rem;
    }    
}

.info__item-accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--maroon);
    padding-left: 3rem;
}

.accordion-items__button {
    max-width: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background: var(--yellow);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accordion-items__button:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button__skills {
    font-size: 1rem;
    color: var(--maroon);
    font-weight: bold;
}

.button__plus{
    border: 2px solid var(--maroon);
    border-radius: 2rem;
    background-color: var(--yellow);
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-brown);
    cursor: pointer;
    padding: 0 0.3rem;
}

.button__plus:hover{
    border-color: var(--dark-brown);
    color: var(--maroon);
    background-color: var(--too-light-yellow);
}

.item__accordion {
    max-width: 40rem;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: 0.4s;
}

@media (max-width: 767px) {
    .accordion-items__button {
        max-width: 18rem;
        padding: 1rem 1.5rem;
    }

    .button__skills {
        font-size: 0.9rem;
    }

    .item__accordion {
        font-size: 0.9rem;
    }    
}

@media (max-width: 480px) {
    .info__item-accordion {
        gap: 0.5rem;
        padding-left: 2rem;
    }
    .accordion-items__button {
        max-width: 14rem;
        padding: 0.5rem 1rem;
    }

    .button__skills {
        font-size: 0.8rem;
    }

    .button__plus{
        font-size: 0.8rem;
        padding: 0 0.25rem;
    }

    .item__accordion {
        font-size: 0.8rem;
    }    
}

.swiper {
    max-width: 60rem;
    width: 100%;
    height: 100%;
    --swiper-navigation-color: var(--maroon);
}

.swiper-slide{
    padding: 0 3.7rem 3rem;
}

.swiper .swiper-pagination-bullet{
    background: var(--yellow);
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--maroon);
}

.work-card__img {
    max-width: 22rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work-card__img:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.work-card__date{
    color: var(--dark-brown);
}

.work-card__title{
    color: var(--maroon);
    font-weight: bold;
    text-decoration-color: var(--dark-brown);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.work-card__title:hover{
    text-decoration-line: none;
}

.work-card__paragraph{
    max-width: 100%;
    width: 22rem;
    color: var(--maroon);
}

@media (max-width: 767px) {
    .swiper-slide {
        padding: 0rem 0rem 1rem;
    }

    .work-card__date{
        font-size: 0.5rem;
    }

    .work-card__title{
        font-size: 0.9rem;
    }

    .work-card__paragraph{
        font-size: 0.9rem;
    }

    .work__cards .swiper-button-prev,
    .work__cards .swiper-button-next {
      display: none !important;
    }
}

@media (max-width: 480px) {
    .swiper-slide {
        padding-left: 4.5rem;
        padding-bottom: 1rem;
    }

    .work-card__img {
        max-width: 15rem;
    }
    
    .work-card__date{
        font-size: 0.5rem;
    }

    .work-card__title{
        font-size: 0.8rem;
    }

    .work-card__paragraph{
        max-width: 15rem;
        width: 100%;
        font-size: 0.8rem;
    }

    .swiper .swiper-pagination-bullet{
        width: 0.2rem;
        height: 0.2rem;
    }

    .swiper .swiper-pagination-bullet-active {
        width: 0.3rem;
        height: 0.3rem;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        gap: 0.5rem;
    }
}


.contact__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info__items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__link {
    width: 14.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--maroon);
}

.link__telegram{
    width: 9.5rem;
}

.contact__link:hover{
    color: var(--dark-brown);
    text-decoration-color: var(--maroon);
}

@media (max-width: 767px) {
    .contact__info {
        gap: 1.5rem;
    }

    .contact-info__items{
        gap: 1rem;
    }

    .contact__link {
        width: 14rem;
        gap: 0.8rem;
    }

    .link__telegram{
        width: 9rem;
    }
}

@media (max-width: 480px) {
    .contact__info {
        gap: 1rem;
    }

    .contact-info__items{
        gap: 0.5rem;
    }

    .contact__link {
        width: 11rem;
        font-size: 0.8rem;
        gap: 0.3rem;
    }

    .link__telegram{
        width: 7rem;
    }

    .contact__link:hover{
        color: var(--dark-brown);
        text-decoration-color: var(--maroon);
    }
}

.footer{
    max-width: 100%;
    color: var(--maroon);
    border-top: 2px solid var(--maroon);
}

.footer__container{
    max-width: 85rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem 6rem;
}

.footer__copy{
    max-width: 20.5rem;
    width: 100%;
}

.footer__items{
    max-width: 40rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__nav-link{
    text-decoration-line: none;
    color: var(--maroon);
}

.footer__nav-link:hover {
    color: var(--yellow);
}

.footer__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.info__socials-items{
    display: flex;
    gap: 1rem;
}

.info__made-items{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.made-items__icon{
    color: var(--maroon);
}

@media (max-width: 767px) {
    .footer__container{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 1rem 3rem;
    }

    .footer__copy{
        text-align: center;
        font-size: 0.8rem;
    }

    .footer__items{
        border-bottom: 1px solid var(--maroon);
    }

    .footer__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .footer__nav-link{
        font-size: 0.9rem;
    }

    .info__socials-items{
        gap: 0.8rem;
    }

    .footer__info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }

    .info__made-items{
        gap: 0.4rem;
    }

    .made-items__text{
        width: 4.7rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .footer__container{
        gap: 0.8rem;
        padding: 0.5rem 1.5rem;
    }

    .footer__copy{
        font-size: 0.6rem;
    }

    .footer__nav{
        gap: 0.5rem;
    }
    
    .footer__nav-link{
        font-size: 0.8rem;
    }

    .info__socials-items{
        gap: 0.5rem;
    }

    .info__made-items{
        gap: 0.2rem;
    }

    .made-items__text{
        width: 4.2rem;
        font-size: 0.8rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    .symbols__plus,
    .symbols__slashes {
        animation: none;
    }
}